


.item-2pdAZ0v2 {
    width: 250px;
    float: left;
}
.pic-30gq0kfc {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 58px;
}
.pic-30gq0kfc a img {
    width: 50px;
    height: 58px;
    display: block;
    border: 0;
    text-decoration: none;
}











.sider_box{float: left;width: 270px;}
.sider_box iframe{width: 220px;height: 510px;}
.side       r_box content_title-2i5cY33_{width: 360xp;height: 38px;}
.sider_box pic_list-1kvQ-oOM clearfix{widows: 360px;height: 130px;}
.sider_box txt_bg-1cvR8d7J{widows: 120px;height: 22px}
.sider_box list-sH9EOaA1{widows: 360px;height: 104px}
.home_box-3qj6mYVy{float: left;width:750px}
/* .topic-3T9puyH6{width: 360px;height: 425px;background: rgb(233, 9, 9)} */
/* .food_box-2XJB33yA{width: 360px;height: 425px;background: red} */



/* 第一个 */
.box-30wkVuOM {
    width: 1000px;
    margin: 0 auto;
}
.clearfix {
    zoom: 1;
}
.news-1fEl0rQa {
    float: right;
    width: 756px;
}
.clearfix {
    zoom: 1;
}



/* 第一个右边 */
.box-30wkVuOM {
    width: 1000px;
    margin: 0 auto;
}
.news_sider-27rktrh3 {
    float: left;
    width: 220px;
    padding-top: 8px;
}
.sider_box-zNIn8d7U {
    width: 188px;
    border: 1px solid #dedede;
    padding: 1px 15px 2px;
}
.box-3J7SXsmZ {
    border-top: 1px solid #dedede;
    padding-bottom: 13px;
}
.title-1noClO6w {
    line-height: 24px;
    padding-top: 14px;
}
.title-1noClO6w a {
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
}.title-1noClO6w a {
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
}
.title-1noClO6w a {
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
}
.list-1CCaEebJ {
    margin-top: 4px;
}
.list-1CCaEebJ dt {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-1CCaEebJ dt {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    .list-1CCaEebJ dt a {
        color: #004276;
    }
    .list-1CCaEebJ dt {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .list-1CCaEebJ dt a {
        color: #004276;
    }
    .list-1CCaEebJ dt {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .list-1CCaEebJ dt a {
        color: #004276;
    }
    .box-3J7SXsmZ {
        border-top: 1px solid #dedede;
        padding-bottom: 13px;
    }
    .title-1noClO6w {
        line-height: 24px;
        padding-top: 14px;
    }
    .title-1noClO6w a {
        font-size: 14px;
        color: #2b2b2b;
        text-decoration: none;
    }
    .title-1noClO6w a {
        font-size: 14px;
        color: #2b2b2b;
        text-decoration: none;
    }
    body {
        font-size: 12px;
        font-family: simsun, arial, helvetica, clean, sans-serif;
        background: #fff;
        color: #2b2b2b;
    }
    ul, menu, dir {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    a {
        text-decoration: none;
    }
    h5 {
        display: block;
        font-size: 0.83em;
        -webkit-margin-before: 1.67em;
        -webkit-margin-after: 1.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
    .jp_list-1bM6P288 li h5 a {
        color: #004276;
    }
    .jp_list-1bM6P288 li > a {
        float: left;
        width: 75px;
        height: 42px;
        overflow: hidden;
        margin-top: 3px;
        display: block;
    }
    .jp_list-1bM6P288 li h5 {
        float: left;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        width: 103px;
        padding-left: 10px;
    }
    .jp_list-1bM6P288 li h5 a {
        color: #004276;
    }
    .jp_list-1bM6P288 li {
        width: 188px;
        height: 45px;
        padding: 8px 0 11px;
        background: url(https://x0.ifengimg.com/fe/shank/spring/dotline.cc375666.gif) repeat-x bottom left;
    }
    .jp_list-1bM6P288 li > a {
        float: left;
        width: 75px;
        height: 42px;
        overflow: hidden;
        margin-top: 3px;
        display: block;
    }
    .jp_list-1bM6P288 li > a img {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .jp_list-1bM6P288 li h5 {
        float: left;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        width: 103px;
        padding-left: 10px;
    }
    .jp_list-1bM6P288 li h5 a {
        color: #004276;
    }
    .jp_list-1bM6P288 li {
        width: 188px;
        height: 45px;
        padding: 8px 0 11px;
        background: url(https://x0.ifengimg.com/fe/shank/spring/dotline.cc375666.gif) repeat-x bottom left;
    }
    .jp_list-1bM6P288 li > a {
        float: left;
        width: 75px;
        height: 42px;
        overflow: hidden;
        margin-top: 3px;
        display: block;
    }
    .jp_list-1bM6P288 li h5 {
        float: left;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        width: 103px;
        padding-left: 10px;
    }
    .jp_list-1bM6P288 li h5 a {
        color: #004276;
    }
    .list-1CCaEebJ {
        margin-top: 4px;
    }
    .list-1CCaEebJ dt {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .list-1CCaEebJ dt a {
        color: #004276;
    }
    .list-1CCaEebJ dt {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .list-1CCaEebJ dt a {
        color: #004276;
    }
    .list-1CCaEebJ dt {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .list-1CCaEebJ dt a {
        color: #004276;
    }
    .list-1CCaEebJ dt {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .list-1CCaEebJ dt a {
        color: #004276;
    }







/* 第一个 */
.news_top-1PMR_KNt {
    padding-top: 18px;
    position: relative;
}
.tabTitle-3eNozaAa {
    position: relative;
    padding-left: 19px;
    padding-top: 6px;
    padding-bottom: 4px;
    line-height: 24px;
}
.tabHead-2DwToffd {
    float: left;
}
.tabHead-2DwToffd a {
    float: left;
    font-size: 12px;
    color: #2b2b2b;
    text-decoration: none;
    cursor: pointer;
}
.tabBodyItemActive-2_zoZQRN {
    display: block;
}
.news_list-3wjAJJJM {
    position: relative;
}
.news_list-3wjAJJJM li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news_list-3wjAJJJM li h1 {
    padding-left: 15px;
    line-height: 28px;
    font-weight: normal;
    font-size: 12px;
}
.news_list-3wjAJJJM li h1 a {
    line-height: 28px;
    font-size: 20px;
    font-family: SimHei;
    color: #004276;
}
.news_list-3wjAJJJM li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_list-3wjAJJJM li a {
    line-height: 28px;
    font-size: 14px;
    color: #004276;
}
.news_list-3wjAJJJM li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news_list-3wjAJJJM li a {
    line-height: 28px;
    font-size: 14px;
    color: #004276;
}
.news_list-3wjAJJJM {
    position: relative;
}
.news_list-3wjAJJJM li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news_list-3wjAJJJM li a {
    line-height: 28px;
    font-size: 14px;
    color: #004276;
}
.news_list-3wjAJJJM li a {
    line-height: 28px;
    font-size: 14px;
    color: #004276;
}
.news_list-3wjAJJJM li {
    padding-left: 19px;
    background: url(https://x0.ifengimg.com/fe/shank/spring/spritesize47_w1000_h2000.bff33ce2.png) no-repeat 6px -687px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a:link {
    color: #004276;
} 
a:link {
    color: #004276;
}
a:link {
    color: #004276;
}
a:link {
    color: #004276;
}













/* 最底 */
.wrap {
    width: 1000px;
    margin: 18px auto 0;
}
.City {
    color: #666;
    border-bottom: 2px solid #f54343;
    line-height: 32px;
}
.City .Tit04 {
    float: left;
}
.City a {
    color: #666;
}
.City p {
    float: right;
}
.City a {
    color: #666;
}
.City p span {
    padding: 0 6px;
}
.City a {
   color: #666 ;

}



